CYCLES_PER_INSTANCE=100
FIRST_PAGE_WAIT_MS=3850
PAGE_WAIT_MS=1625
BETWEEN_PAGES_MS=205
SCREENSHOT_SETTLE_MS=300
TAKE_SCREENSHOT_EACH_PAGE=true
RESTART_CHROME_BETWEEN_PAGES=true
RESTART_CHROME_EVERY_N_PAGES=100
